dash~=2.18.2
pandas~=2.2.3
scipy~=1.14.1
numpy~=1.26.4
scikit-learn~=1.6.0
statsmodels~=0.14.4
pytest~=8.3.4
torch~=2.5.1
skorch~=1.0.0
matplotlib~=3.9.3
pmdarima~=2.0.4
seaborn~=0.13.2
plotly~=5.24.1